body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-items-container {
  display: flex;
  justify-content: center;
}
.menu-items {
  height: 50px;
  background-color: red;
  width: 80%;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 13px;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category {
  background-color: aqua;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.item {
  height: 200px;
  width: 200px;
  background-color: blueviolet;
  margin: 10px;
}
.items {
  display: flex;
  flex-wrap: wrap;
}
.pic-container {
  height: 150px;
  width: 200px;
  background-color: red;
}
