body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-items-container {
  display: flex;
  justify-content: center;
}
.menu-items {
  height: 50px;
  background-color: red;
  width: 80%;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 13px;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category {
  background-color: aqua;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.item {
  height: 225px;
  width: 200px;
  background-color: blueviolet;
  margin: 10px;
}
.items {
  display: flex;
  flex-wrap: wrap;
}
.pic-container {
  height: 175px;
  width: 200px;
  background-color: red;
}
.pic {
  height: 100%;
  width: 100%;
}
.title-container {
  height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
.price-container {
  display: flex;
}
.price {
  margin-left: 3px;
}
.title {
  font-size: 17px;
  font-weight: bold;
}

.menu-scroll {
  cursor: pointer;
}
.admin {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-container {
  width: 100%;
  margin-bottom: 30px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  height: 42px;
  /* max-width: 100px; */
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.delete-btn {
  background-color: red;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 10%;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.update-btn {
  background-color: blue;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 10%;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.update {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.center {
  display: flex;
  justify-content: center;
}
input {
  width: 90%;
  height: 20px;
}
textarea {
  width: 90%;
  /* height: 20px; */
}
.desc {
  max-width: 735px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modal */

.modalBackground {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
}

.modalContainer {
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  height: 400px;
  width: 520px;
  justify-content: center;
  align-items: center;
}
.close {
  color: black;
  opacity: 0.9;
}
.label {
  margin: 10px;
  font-weight: 500;
  width: 50px;
}
.input {
  width: 400px;
  margin: 10px;
}
.option {
  width: 400px;
  height: 30px;
  margin: 10px;
}
.x {
  position: absolute;
  top: 13%;
  right: 31%;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.add {
  background-color: rgb(15, 209, 15);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
