body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.menu-items-container {
  display: flex;
  justify-content: center;
}
.menu-items {
  height: 50px;
  background-color: red;
  width: 80%;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 13px;
}
.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.category {
  background-color: aqua;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}
.item {
  height: 225px;
  width: 200px;
  background-color: blueviolet;
  margin: 10px;
}
.items {
  display: flex;
  flex-wrap: wrap;
}
.pic-container {
  height: 175px;
  width: 200px;
  background-color: red;
}
.pic {
  height: 100%;
  width: 100%;
}
.title-container {
  height: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}
.price-container {
  display: flex;
}
.price {
  margin-left: 3px;
}
.title {
  font-size: 17px;
  font-weight: bold;
}

.menu-scroll {
  cursor: pointer;
}
.admin {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.table-container {
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  height: 42px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

.delete-btn {
  background-color: red;
  color: #fff;
  border: 0;
  border-radius: 10px;
  padding: 10%;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.update {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.center {
  display: flex;
  justify-content: center;
}
